{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    <h1>Global Event Tracker</h1>
    <h2>Global News Feed</h2>

    <ul>
      {% for data_point in global_news['data'] %}
  <li>
    <p>Date: {{ data_point['date'] }}</p>
    <p>Value: {{ data_point['value'] }}</p>
    <ul>
      {% for topart in data_point['toparts'] %}
        <li><a href="{{ topart['url'] }}">{{ topart['title'] }}</a></li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}

  </ul>
{% endblock content %}