{% extends "layout.html" %}
{% block content %}
<form action="/news" method="GET">
    <label for="location">Location:</label>
    <input type="text" name="location" id="location">
    <br>
    <label for="language">Language:</label>
    <input type="text" name="language" id="language">
    <br>
    <button type="submit">Get News</button>
</form>
    {% for post in articles %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"href="{{ post.url}}">{{post.title}}</a>
              <small class="text-muted">{{ post.pubDate }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.description }}</p>
          </div>
        </article>
    {% endfor %}

    <h1>News Feed</h1>
    
    
</body>
</html>
    
{% endblock content %}